<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dbwatch.ZPM">
    <Module>
      <Name>dbwatch</Name>
      <Version>0.0.1</Version>
      <Description>Visualize DB size</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZX.PKG"/>
    </Module>
  </Document>
</Export>
