<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="db-swagger.ZPM">
    <Module>
      <Name>db-swagger</Name>
      <Version>1.0.1</Version>
      <Description>View DB free space with Swagger</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZX.PKG"/>
    </Module>
  </Document>
</Export>
